@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import "tailwindcss";


@tailwind utilities;

:root {
  --color-btns: #0077B6;      /* Ocean Blue - Btns,links*/
  --color-bg: #0D0D0D;           /* Background */
  --color-text-primary: #F8F8F8; /* Main text , headings*/
  --color-text-secondary: #6C757D; /* Medium Gray - Subtext*/
  --color-gray-light: #E9ECEF /* Borders */;
  --color-gray-medium: #ADB5BD /*  Dividers,Disabled states */;

}
html, body, #root{
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
}
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

/* Global styles */
.font-rocker {
  font-family: "New Rocker", 'system-ui';
}



/* Hero styles */
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s;
}

@layer utilities {
  .text-shadow {
    text-shadow: 10px 4px 2px #2e5a5c;
  }
}


