.banner{
  background: black;
  border-radius:35px 35px;
  margin: 20px;
  color: white;
  padding: 20px;
}
.banner h2{
  margin-bottom: 20px;
}
.eventCont{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
.eventCont *{
  margin: 3px;
}
