.eventContainer{
  width: 30%;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  padding: 20px;
}
.eventContainer img{
  width: 70%;
  height: 60%;
  border-radius: 15px;
  align-self: center;
  margin-top: 20px;
}
.titleLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#date {
  align-self: flex-end;
  margin-bottom: 20px;
}
#description {
 letter-spacing: 1px;
}
