.outerCont{
  height: 90vh;
  background: black;
  border-radius:35px 35px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.formCont{
  width: 400px;
  height: 600px;
  background: var(--color-gray-medium);
  border-radius: 20px;
  border: 5px solid black;
  box-shadow: 40px 0 20px 10px gray;
  transition: all 0.3s ease-in-out;
}
.formCont:hover{
  box-shadow: -40px 0 20px 10px gray;
}
.form{
  height: 75%;
  color: black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form input{
  padding: 10px;
  border-radius: 20px;
}
.form h2{
  color: black;
}
.form button{
  width: 49%;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  background: var(--color-gray-light);
  color: black;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.form button:hover{
  background: var(--color-gray-medium);
}
.form span{
  color: rgb(130, 130, 189);
  text-decoration: underline;
  font-size: 12px;
}
.btnCont{
  display: flex;
  justify-content: space-between;
}
.btnCont a{
  text-decoration: none;
  color: black;
}